In [1]:
import pandas as pd
import numpy as np

### Importing CSV files

In [7]:
Pt1_S1 = pd.read_csv('/Users/payalparida/Desktop/Main EEG /EEG CSV Files/Channels + Time Data/Pt1_S1.csv')
Pt2_S1 = pd.read_csv('/Users/payalparida/Desktop/Main EEG /EEG CSV Files/Channels + Time Data/Pt2_S1.csv')
Pt3_S1 = pd.read_csv('/Users/payalparida/Desktop/Main EEG /EEG CSV Files/Channels + Time Data/Pt3_S1.csv')
Pt4_S1 = pd.read_csv('/Users/payalparida/Desktop/Main EEG /EEG CSV Files/Channels + Time Data/Pt4_S1.csv')
Pt1_S2_end = pd.read_csv('/Users/payalparida/Desktop/Main EEG /EEG CSV Files/Channels + Time Data/Pt1_S2_End.csv')
Pt2_S2_end = pd.read_csv('/Users/payalparida/Desktop/Main EEG /EEG CSV Files/Channels + Time Data/Pt2_S2_End.csv')
Pt3_S2_end = pd.read_csv('/Users/payalparida/Desktop/Main EEG /EEG CSV Files/Channels + Time Data/Pt3_S2_End.csv')
Pt4_S2_end = pd.read_csv('/Users/payalparida/Desktop/Main EEG /EEG CSV Files/Channels + Time Data/Pt4_S2_End.csv')

### Get Columns

In [10]:
Pt1_S1.columns

Index(['Time', 'Fp1', 'F7', 'T3', 'T5', 'O1', 'F3', 'C3', 'P3', 'Fz', 'Cz',
       'Fp2', 'F8', 'T4', 'T6', 'O2', 'F4', 'C4', 'P4', 'Pz', 'EKG1'],
      dtype='object')

### Get Summery Information

In [11]:
Pt1_S1.info()
Pt2_S1.info()
Pt3_S1.info()
Pt4_S1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61440 entries, 0 to 61439
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    61440 non-null  float64
 1   Fp1     61440 non-null  float64
 2   F7      61440 non-null  float64
 3   T3      61440 non-null  float64
 4   T5      61440 non-null  float64
 5   O1      61440 non-null  float64
 6   F3      61440 non-null  float64
 7   C3      61440 non-null  float64
 8   P3      61440 non-null  float64
 9   Fz      61440 non-null  float64
 10  Cz      61440 non-null  float64
 11  Fp2     61440 non-null  float64
 12  F8      61440 non-null  float64
 13  T4      61440 non-null  float64
 14  T6      61440 non-null  float64
 15  O2      61440 non-null  float64
 16  F4      61440 non-null  float64
 17  C4      61440 non-null  float64
 18  P4      61440 non-null  float64
 19  Pz      61440 non-null  float64
 20  EKG1    61440 non-null  float64
dtypes: float64(21)
memory usage: 9.8 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51200 entries, 0 to 51199
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    51200 non-null  float64
 1   Fp1     51200 non-null  float64
 2   F7      51200 non-null  float64
 3   T3      51200 non-null  float64
 4   T5      51200 non-null  float64
 5   O1      51200 non-null  float64
 6   F3      51200 non-null  float64
 7   C3      51200 non-null  float64
 8   P3      51200 non-null  float64
 9   Fz      51200 non-null  float64
 10  Cz      51200 non-null  float64
 11  Fp2     51200 non-null  float64
 12  F8      51200 non-null  float64
 13  T4      51200 non-null  float64
 14  T6      51200 non-null  float64
 15  O2      51200 non-null  float64
 16  F4      51200 non-null  float64
 17  C4      51200 non-null  float64
 18  P4      51200 non-null  float64
 19  Pz      51200 non-null  float64
 20  EKG1    51200 non-null  float64
dtypes: float64(21)
memory usage: 8.2 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51200 entries, 0 to 51199
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    51200 non-null  float64
 1   Fp1     51200 non-null  float64
 2   F7      51200 non-null  float64
 3   T3      51200 non-null  float64
 4   T5      51200 non-null  float64
 5   O1      51200 non-null  float64
 6   F3      51200 non-null  float64
 7   C3      51200 non-null  float64
 8   P3      51200 non-null  float64
 9   Fz      51200 non-null  float64
 10  Cz      51200 non-null  float64
 11  Fp2     51200 non-null  float64
 12  F8      51200 non-null  float64
 13  T4      51200 non-null  float64
 14  T6      51200 non-null  float64
 15  O2      51200 non-null  float64
 16  F4      51200 non-null  float64
 17  C4      51200 non-null  float64
 18  P4      51200 non-null  float64
 19  Pz      51200 non-null  float64
 20  EKG1    51200 non-null  float64
dtypes: float64(21)
memory usage: 8.2 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51200 entries, 0 to 51199
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    51200 non-null  float64
 1   F7      51200 non-null  float64
 2   T3      51200 non-null  float64
 3   T5      51200 non-null  float64
 4   Fp1     51200 non-null  float64
 5   F3      51200 non-null  float64
 6   C3      51200 non-null  float64
 7   P3      51200 non-null  float64
 8   O1      51200 non-null  float64
 9   Fz      51200 non-null  float64
 10  Cz      51200 non-null  float64
 11  Pz      51200 non-null  float64
 12  Fp2     51200 non-null  float64
 13  F4      51200 non-null  float64
 14  C4      51200 non-null  float64
 15  P4      51200 non-null  float64
 16  O2      51200 non-null  float64
 17  F8      51200 non-null  float64
 18  T4      51200 non-null  float64
 19  T6      51200 non-null  float64
 20  EKG1    51200 non-null  float64
dtypes: float64(21)
memory usage: 8.2 MB

In [20]:
Pt1_S2_end.info()
Pt2_S2_end.info()
Pt3_S2_end.info()
Pt4_S2_end.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275456 entries, 0 to 275455
Data columns (total 20 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Fp1     275456 non-null  float64
 1   F7      275456 non-null  float64
 2   T3      275456 non-null  float64
 3   T5      275456 non-null  float64
 4   O1      275456 non-null  float64
 5   F3      275456 non-null  float64
 6   C3      275456 non-null  float64
 7   P3      275456 non-null  float64
 8   Fz      275456 non-null  float64
 9   Cz      275456 non-null  float64
 10  Fp2     275456 non-null  float64
 11  F8      275456 non-null  float64
 12  T4      275456 non-null  float64
 13  T6      275456 non-null  float64
 14  O2      275456 non-null  float64
 15  F4      275456 non-null  float64
 16  C4      275456 non-null  float64
 17  P4      275456 non-null  float64
 18  Pz      275456 non-null  float64
 19  EKG1    275456 non-null  float64
dtypes: float64(20)
memory usage: 42.0 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 829440 entries, 0 to 829439
Data columns (total 20 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Fp1     829440 non-null  float64
 1   F7      829440 non-null  float64
 2   T3      829440 non-null  float64
 3   T5      829440 non-null  float64
 4   O1      829440 non-null  float64
 5   F3      829440 non-null  float64
 6   C3      829440 non-null  float64
 7   P3      829440 non-null  float64
 8   Fz      829440 non-null  float64
 9   Cz      829440 non-null  float64
 10  Fp2     829440 non-null  float64
 11  F8      829440 non-null  float64
 12  T4      829440 non-null  float64
 13  T6      829440 non-null  float64
 14  O2      829440 non-null  float64
 15  F4      829440 non-null  float64
 16  C4      829440 non-null  float64
 17  P4      829440 non-null  float64
 18  Pz      829440 non-null  float64
 19  EKG1    829440 non-null  float64
dtypes: float64(20)
memory usage: 126.6 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559616 entries, 0 to 559615
Data columns (total 20 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Fp1     559616 non-null  float64
 1   F7      559616 non-null  float64
 2   T3      559616 non-null  float64
 3   T5      559616 non-null  float64
 4   O1      559616 non-null  float64
 5   F3      559616 non-null  float64
 6   C3      559616 non-null  float64
 7   P3      559616 non-null  float64
 8   Fz      559616 non-null  float64
 9   Cz      559616 non-null  float64
 10  Fp2     559616 non-null  float64
 11  F8      559616 non-null  float64
 12  T4      559616 non-null  float64
 13  T6      559616 non-null  float64
 14  O2      559616 non-null  float64
 15  F4      559616 non-null  float64
 16  C4      559616 non-null  float64
 17  P4      559616 non-null  float64
 18  Pz      559616 non-null  float64
 19  EKG1    559616 non-null  float64
dtypes: float64(20)
memory usage: 85.4 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442368 entries, 0 to 442367
Data columns (total 20 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   F7      442368 non-null  float64
 1   T3      442368 non-null  float64
 2   T5      442368 non-null  float64
 3   Fp1     442368 non-null  float64
 4   F3      442368 non-null  float64
 5   C3      442368 non-null  float64
 6   P3      442368 non-null  float64
 7   O1      442368 non-null  float64
 8   Fz      442368 non-null  float64
 9   Cz      442368 non-null  float64
 10  Pz      442368 non-null  float64
 11  Fp2     442368 non-null  float64
 12  F4      442368 non-null  float64
 13  C4      442368 non-null  float64
 14  P4      442368 non-null  float64
 15  O2      442368 non-null  float64
 16  F8      442368 non-null  float64
 17  T4      442368 non-null  float64
 18  T6      442368 non-null  float64
 19  EKG1    442368 non-null  float64
dtypes: float64(20)
memory usage: 67.5 MB

### Count the number of missing values in each column

In [25]:
Pt1_S1.isnull().sum()

Fp1     0
F7      0
T3      0
T5      0
O1      0
F3      0
C3      0
P3      0
Fz      0
Cz      0
Fp2     0
F8      0
T4      0
T6      0
O2      0
F4      0
C4      0
P4      0
Pz      0
EKG1    0
dtype: int64

In [27]:
Pt2_S1.isnull().sum()

Fp1     0
F7      0
T3      0
T5      0
O1      0
F3      0
C3      0
P3      0
Fz      0
Cz      0
Fp2     0
F8      0
T4      0
T6      0
O2      0
F4      0
C4      0
P4      0
Pz      0
EKG1    0
dtype: int64

In [30]:
Pt3_S1.isnull().sum()

Fp1     0
F7      0
T3      0
T5      0
O1      0
F3      0
C3      0
P3      0
Fz      0
Cz      0
Fp2     0
F8      0
T4      0
T6      0
O2      0
F4      0
C4      0
P4      0
Pz      0
EKG1    0
dtype: int64

In [31]:
Pt4_S1.isnull().sum()

F7      0
T3      0
T5      0
Fp1     0
F3      0
C3      0
P3      0
O1      0
Fz      0
Cz      0
Pz      0
Fp2     0
F4      0
C4      0
P4      0
O2      0
F8      0
T4      0
T6      0
EKG1    0
dtype: int64

In [33]:
Pt1_S2_end.isnull().sum()

Fp1     0
F7      0
T3      0
T5      0
O1      0
F3      0
C3      0
P3      0
Fz      0
Cz      0
Fp2     0
F8      0
T4      0
T6      0
O2      0
F4      0
C4      0
P4      0
Pz      0
EKG1    0
dtype: int64

In [35]:
Pt2_S2_end.isnull().sum()

Fp1     0
F7      0
T3      0
T5      0
O1      0
F3      0
C3      0
P3      0
Fz      0
Cz      0
Fp2     0
F8      0
T4      0
T6      0
O2      0
F4      0
C4      0
P4      0
Pz      0
EKG1    0
dtype: int64

In [37]:
Pt3_S2_end.isnull().sum()

Fp1     0
F7      0
T3      0
T5      0
O1      0
F3      0
C3      0
P3      0
Fz      0
Cz      0
Fp2     0
F8      0
T4      0
T6      0
O2      0
F4      0
C4      0
P4      0
Pz      0
EKG1    0
dtype: int64

In [39]:
Pt4_S2_end.isnull().sum()

F7      0
T3      0
T5      0
Fp1     0
F3      0
C3      0
P3      0
O1      0
Fz      0
Cz      0
Pz      0
Fp2     0
F4      0
C4      0
P4      0
O2      0
F8      0
T4      0
T6      0
EKG1    0
dtype: int64

### Count the number of duplicated rows

In [42]:
Pt1_S1.duplicated().sum()

0

In [44]:
Pt2_S1.duplicated().sum()

0

In [46]:
Pt3_S1.duplicated().sum()

0

In [48]:
Pt4_S1.duplicated().sum()

0

In [52]:
Pt1_S2_end.duplicated().sum()

0

In [54]:
Pt2_S2_end.duplicated().sum()

0

In [56]:
Pt3_S2_end.duplicated().sum()

0

In [58]:
Pt4_S2_end.duplicated().sum()

0

## Normalize or scale the data

In [60]:
from sklearn.preprocessing import MinMaxScaler

In [62]:
Pt1_S1_scaled = MinMaxScaler().fit_transform(Pt1_S1)

In [65]:
Pt2_S1_scaled = MinMaxScaler().fit_transform(Pt2_S1)

In [67]:
Pt3_S1_scaled = MinMaxScaler().fit_transform(Pt3_S1)

In [69]:
Pt4_S1_scaled = MinMaxScaler().fit_transform(Pt4_S1)

In [71]:
Pt1_S2_end_scaled = MinMaxScaler().fit_transform(Pt1_S2_end)

In [72]:
Pt2_S2_end_scaled = MinMaxScaler().fit_transform(Pt2_S2_end)

In [73]:
Pt3_S2_end_scaled = MinMaxScaler().fit_transform(Pt3_S2_end)

In [75]:
Pt4_S2_end_scaled = MinMaxScaler().fit_transform(Pt4_S2_end)

### Standardization

In [77]:
from sklearn.preprocessing import StandardScaler

In [80]:
Pt1_S1_scaled_s = StandardScaler().fit_transform(Pt1_S1)

In [83]:
Pt2_S1_scaled_s = StandardScaler().fit_transform(Pt2_S1)

In [86]:
Pt3_S1_scaled_s = StandardScaler().fit_transform(Pt3_S1)

In [88]:
Pt4_S1_scaled_s = StandardScaler().fit_transform(Pt4_S1)

In [90]:
Pt1_S2_end_scaled_s = StandardScaler().fit_transform(Pt1_S2_end)

In [92]:
Pt2_S2_end_scaled_s = StandardScaler().fit_transform(Pt2_S2_end)

In [94]:
Pt3_S2_end_scaled_s = StandardScaler().fit_transform(Pt3_S2_end)

In [95]:
Pt4_S2_end_scaled_s = StandardScaler().fit_transform(Pt4_S2_end)